<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Error</title>

	<!--Bootstrap css-->
	<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/font-awesome.min.css}" />

</head>

<body>
	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="offset-md-3 col-md-6 text-center">
				<h1>400 Bad Request</h1>
				<p th:text="${exception.getMessage()}"></p>
			</div>
		</div>
	</div>

	<!--JQuery first, then Bootstrap js-->
	<script th:src="@{/resources/js/jquery.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
</body>

</html>