<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Show Recipe</title>

	<!--Bootstrap css-->
	<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/font-awesome.min.css}" />

</head>

<body>
	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="offset-md-3 col-md-6">
				<div class="card mb-3">
					<div class="card-header bg-primary text-white">
						<div class="row">
							<div class="col-md-8">
								<h1 class="card-title" th:text="${recipe.description}">Recipe Description Here!</h1>
							</div>

							<div class="col-md-4 mt-2">
									<a class="btn btn-secondary btn-lg text-white"
									th:href="@{'/recipe/' + ${recipe.id} + '/image'}" role="button">Change Image</a>
							</div>
							
							
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-3">
								<h5 style="font-weight: bold;">Categories:</h5>
							</div>
							<div class="col-md-9">
								<ul>
									<li th:remove="all">cat one</li>
									<li th:remove="all">cat two</li>
									<li th:each="category : ${recipe.categories}" th:text="${category.getDescription}">
										cat three</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<h5 style="font-weight: bold;">Prep Time:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${(recipe.getPrepTime + ' Min')}">30 min</p>
							</div>
							<div class="col-md-3">
								<h5 style="font-weight: bold;">Difficulty:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${recipe.getDifficulty}">Easy</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<h5 style="font-weight: bold;">Cooktime:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${(recipe.getCookTime +' Min')}">30 min</p>
							</div>
							<div class="col-md-3">
								<h5 style="font-weight: bold;">Servings:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${recipe.getServings}">4</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<h5 style="font-weight: bold;">Source:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${recipe.getSource}">30 min</p>
							</div>
							<div class="col-md-3">
								<h5 style="font-weight: bold;">URL:</h5>
							</div>
							<div class="col-md-3">
								<p th:text="${recipe.getUrl}">http://www.example.com</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-3">
					<div class="card-header bg-primary text-white">
						<div class="row">
							<div class="col-md-10">
								<h1>Ingredients</h1>
							</div>
							<div class="col-md-2">
								<a class="btn btn-secondary btn-lg text-white"
									th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<ul>
									<li th:remove="all">1 Cup of milk</li>
									<li th:remove="all">1 Teaspoon of chocolate</li>
									<li th:each="ingredient : ${recipe.getIngredients}" th:text="${(ingredient.getAmount 
									+' '+ ingredient.unitOfMeasure.getDescription 
									+' - '+ ingredient.description)}">1 Teaspoon of Sugar</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-3">
					<div class="card-header bg-primary text-white">
						<h1 class="card-title">Directions</h1>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<p th:text="${recipe.getDirections}">Lorem ipsum dolor sit amet, consectetuer adipiscing
									elit. Aenean commodo ligula
									eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
									montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
									eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
									fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
									imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
									Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
									eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
									enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
									viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam
									ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
									Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
									libero, sit amet adipiscing sem neque sed ipsum.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-3">
					<div class="card-header bg-primary text-white">
						<h1 class="card-title">Notes</h1>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<p th:text="${recipe.getNotes.recipeNotes}">Lorem ipsum dolor sit amet, consectetuer
									adipiscing elit. Aenean commodo ligula
									eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
									montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
									eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
									fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
									imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
									Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
									eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
									enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
									viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam
									ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
									Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
									libero, sit amet adipiscing sem neque sed ipsum.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<!--JQuery first, then Bootstrap js-->
	<script th:src="@{/resources/js/jquery.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
</body>

</html>